h1{
    text-align: center;
    color:red;
}

p{
    text-align: justify;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
}

img{
    width: 500px;
    padding-left: 420px;
}